componet-Data-Ingestion-Ryan/results/Week 4 - Model Comparison.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        128
      ],
      "id": "2334ab8f-7337-44e4-9592-3ad696387852",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appVw9WOsLfvOPNVY",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appVw9WOsLfvOPNVY"
        },
        "table": {
          "__rl": true,
          "value": "tblIdjv3lRF9egCtA",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appVw9WOsLfvOPNVY/tblIdjv3lRF9egCtA"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -848,
        128
      ],
      "id": "a33c732d-9aea-4caf-bd87-e2b412a5eb68",
      "name": "Fetch Test Prompts",
      "credentials": {
        "airtableTokenApi": {
          "id": "5TOXhhuMHkuy4DZL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        32
      ],
      "id": "d6a4f840-57a6-4392-8a27-958fc239f7b5",
      "name": "HF Sentiment",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "W6lXbqJ0GOaSu4xV",
          "name": "Hugging Face Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14731d48-81ba-470a-8343-06d26d2f4c91",
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "ec81b199-743b-4c78-8128-69bdf3a263f5",
              "name": "sentiment_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "a8dede04-a4ef-4f66-a70c-6ae88ba47a7f",
              "name": "input_text",
              "value": "={{ $('Split In Batches').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "d8ab3629-8fc5-4ff7-89ef-531b8bd0875f",
              "name": "record_id",
              "value": "={{ $('Split In Batches').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        32
      ],
      "id": "cb5d94c8-133c-4853-a358-5539255df0a2",
      "name": "Extract Sentiment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.input_text }}\",\n  \"parameters\": {\n    \"candidate_labels\": [\"critical threat\", \"routine activity\", \"possible anomaly\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        240
      ],
      "id": "a53a9691-3062-4def-aadd-1215c99d97f0",
      "name": "HF Zero-Shot",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "W6lXbqJ0GOaSu4xV",
          "name": "Hugging Face Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "758e33e7-45b2-4428-b53b-ed37135d2171",
              "name": "zeroshot_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "a3974864-2edb-4554-ac26-bf66462389fc",
              "name": "zeroshot_score",
              "value": "={{ $json.score }}",
              "type": "string"
            },
            {
              "id": "d4a37e02-a8f2-49ac-bbef-16fd8d793eb0",
              "name": "record_id",
              "value": "={{ $('Split In Batches').item.json.id }}",
              "type": "string"
            },
            {
              "id": "ff7fa6d4-d2f8-499f-a0d4-88e103dfc736",
              "name": "input_text",
              "value": "={{ $('Split In Batches').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        240
      ],
      "id": "fb8ccd34-b84d-41e8-885e-9cce4214d29c",
      "name": "Extract Zero-Shot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        432
      ],
      "id": "cf72c79b-a7d5-4623-adb5-243ee67a9cb4",
      "name": "HF NER",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "W6lXbqJ0GOaSu4xV",
          "name": "Hugging Face Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f29354f1-cefc-4203-8135-be0b01550b6b",
              "name": "ner_entities",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "12556231-11cd-472f-9d29-8ab4dea68773",
              "name": "record_id",
              "value": "={{ $('Split In Batches').item.json.id }}",
              "type": "string"
            },
            {
              "id": "82f18aad-ea78-443a-96cd-e9f0d5cafd0f",
              "name": "input_text",
              "value": "={{ $('Split In Batches').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        432
      ],
      "id": "f18a0ab3-f6f8-492a-bee2-ef2597e8bb86",
      "name": "Extract NER",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an educational content analyst. Classify the following text as: HIGHLY SUITABLE, SUITABLE, NEUTRAL, or UNSUITABLE for quiz question generation. Reply with the classification and one sentence of reasoning.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.input_text }}\"\n    }\n  ],\n  \"max_tokens\": 100\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        720
      ],
      "id": "cecd7cd2-92f0-410a-b009-2e5f6f30853a",
      "name": "Groq LLM",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "S9ACTno3Bwqk8Utw",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba59309d-afec-4dba-a3a3-9dd95fcd7ccd",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "bb2ef14c-44bf-4827-837d-cfff5863738f",
              "name": "record_id",
              "value": "={{ $('Split In Batches').item.json.id }}",
              "type": "string"
            },
            {
              "id": "dc858d1e-50b3-4f5b-9b57-f2597a0001fd",
              "name": "input_text",
              "value": "={{ $('Split In Batches').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        720
      ],
      "id": "5b98ddd7-384f-4ac6-a67e-55c24ea236b5",
      "name": "Extract Groq"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        304
      ],
      "id": "a9c0b39f-5e24-46e4-8d98-9006b779d337",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appVw9WOsLfvOPNVY",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appVw9WOsLfvOPNVY"
        },
        "table": {
          "__rl": true,
          "value": "tblIdjv3lRF9egCtA",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appVw9WOsLfvOPNVY/tblIdjv3lRF9egCtA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "model_1_sentiment_label ": "={{ $json.sentiment_label }}",
            "model_1_sentiment_score ": "={{ $json.sentiment_score }}",
            "model_2_zeroshot_label": "={{ $json.zeroshot_label }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "model_4_groq_classification": "={{ $json.groq_classification }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label ",
              "displayName": "model_1_sentiment_label ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score ",
              "displayName": "model_1_sentiment_score ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at ",
              "displayName": "tested_at ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        688,
        336
      ],
      "id": "dbc33c25-b4d9-47bf-9503-14436407963e",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "5TOXhhuMHkuy4DZL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -96,
        256
      ],
      "id": "ef607b0f-8f2c-4b17-9ac5-576ffa7f4ae1",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        128
      ],
      "id": "6f97ceee-05af-41f5-b0de-d35f3c83d7b8",
      "name": "Split In Batches"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Test Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Test Prompts": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sentiment": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zero-Shot": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Extract Zero-Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c29c1697-bc07-473b-90bb-50fe42362453",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3fde00e1cda219fc36a82549f00c690088ef3717cbb713cc63dac8a9b3b2a21"
  },
  "id": "LRmZdXnW0OJx5SZ8",
  "tags": []
}